<li class="card" 
    [attr.card-id]="card._id"
    [attr.card-order]="card.order"
    (click)="openModal(template, card)" >
    <span [innerHtml]="card.title" [style.display]="editingCard ? 'none' : ''">
    </span>
</li>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'card.title' }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">{{ 'card.title' | translate}}</label>
                <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">{{ 'card.title_required' | translate}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">{{ 'card.description' | translate}}</label>
                <textarea formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                ></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">{{ 'card.description_required' | translate}}</div>
                </div>

                <div *ngFor="let subtask of card.subtasks | orderBy : 'order'" class="column">
                    <div>
                        <app-subtask [subtask]="subtask"
                            >
                        </app-subtask>
                    </div>
                </div>

            </div>
        </form>
    </div>
</ng-template>

<hr>