<div class="main-container">
    <div *ngIf="board" class="board-title">
        <span [style.display]="editingTilte ? 'none' : ''" (click)="editTitle()">{{ board?.title }}</span>

        <input  
            [style.display]="editingTilte ? '' : 'none' "
            (keyup)="blurOnEnter($event)"
            (blur)="updateBoard()"
            [(ngModel)]="board.title" />  
    </div>

    <section class="" *ngIf="board" [sortablejs]="board.columns">
        <div *ngFor="let column of board.columns | orderBy : 'order'" class="column">
            <div>
                <gtm-column [column]="column"
                    (onAddCard)="addCard($event)"
                    [cards]="board.cards">
                </gtm-column>
            </div>
        </div>
        <div class="add-column column"
            (click)="enableAddColumn()" >
            <span [style.display]="addingColumn ? 'none' : ''" >{{ 'board.add_list' | translate }}</span>
        
            <div><input 
                class="add-column-input" 
                [style.display]="addingColumn ? '' : 'none' "
                (keyup)="addColumnOnEnter($event)" 
                (blur)="addColumnOnBlur()"
                [(ngModel)]="addColumnText" />
            </div>

            <div class="btn btn-success" (click)="addColumn()" *ngIf="addingColumn"> {{ 'board.add_list_btn' | translate }}</div>
        </div>
    </section>

</div>