.board {
    background-color: $light-gray;
    height: 72px;
    width: 280px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: left;
    padding: 9pt 8px;
    border-radius: 3px;
    text-decoration: none;

    &-wrapper {
        padding: 2em;
        min-height: calc(100% - 4em);
        display: inline-block;
    }

    .title {
        font-weight: 700; 
        /*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif; */
        line-height: 20px;
        font-size: 12pt;
    }
    
}
  
.add-board {
}