<div class="container-fluid main-container timesheet">

    <div class="float-left">
        <div class="float-left" (click)="change_view_format('week')"><i class="fa fa-calendar-times"></i> </div>
        <div class="float-left ml-2" (click)="change_view_format('month')"><i class="fa fa-calendar-alt"></i> </div>

        <div class="float-left ml-2" (click)="change_group_format('/users/')"><i class="fa fa-users"></i> </div>
        <div class="float-left ml-2" (click)="change_group_format('/')"><i class="fa fa-user"></i> </div>

        

        <select (change)="change_user($event)">
            <option *ngFor="let u of users" [value]="u._id">{{u.username}}</option>
        </select>
    </div>

    <div class="float-right">
        <div class="next float-right" (click)="change_week(1)"><i class="fa fa-chevron-right"></i> </div>
        <div class="prev float-right mr-2" (click)="change_week(-1)"><i class="fa fa-chevron-left"></i> </div>
       
    </div>

    <table class="table">
        <thead *ngIf="headers">
            <tr>
                <th>{{ 'timesheet.project' | translate }}</th>
                <th *ngFor="let head of headers" [ngClass]="{'alert alert-primary': head.is_weekend, 'alert alert-secondary': head.is_festivity}">{{head.date}}</th>
            </tr>
        </thead>
            
        <tbody *ngIf="headers && data" >
            <tr *ngFor="let prj of data; let i = index ">
                <td data-id="prj._id">{{ prj.name }}</td>
                
                <td *ngFor="let hour of prj.hours; let j = index; trackBy:trackByFn" [ngClass]="{'alert-primary': headers[j].is_weekend, 'alert-secondary': headers[j].is_festivity}">

                    <input
                        *ngIf="can_edit"
                        type="number"
                        step="0.5"
                        class="form-control"
                        [(ngModel)]="data[i].hours[j]"
                        (ngModelChange)="update_value()" />

                    <div *ngIf="!can_edit" [ngClass]="{'alert-danger': data[i].hours[j] > 8, 'alert-success': data[i].hours[j] < 8 }">{{ data[i].hours[j] }}</div>
                    
                </td>
            </tr>
        </tbody>

        <tfoot *ngIf="can_edit">
            <tr>
                <td>{{ 'timesheet.total' | translate }}</td>
                <td *ngFor="let tot_day of total; let j = index" [ngClass]="tot_day.class">{{tot_day.hour}}</td>
            </tr>
        </tfoot>

        
    </table>

</div>