<div class="container-fluid main-container">

    <div class="" (click)="change_view_format('week')">Week</div>
    <div class="" (click)="change_view_format('month')">Month</div>

    <div class="" (click)="change_group_format('/users/')">All users</div>
    <div class="" (click)="change_group_format('/')">only me</div>

    <div class="prev" (click)="change_week(-1)">Prev</div>
    <div class="next" (click)="change_week(1)">Next</div>

    <select (change)="change_user($event)">
        <option *ngFor="let u of users" [value]="u._id">{{u.username}}</option>
    </select>

    <table class="table">
        <thead *ngIf="headers">
            <tr>
                <th>{{ 'timesheet.project' | translate }}</th>
                <th *ngFor="let head of headers" [ngClass]="{'alert-primary': head.is_weekend, 'alert-secondary': head.is_festivity}">{{head.date}}</th>
            </tr>
        </thead>
            
        <tbody *ngIf="headers && data" >
            <tr *ngFor="let prj of data; let i = index ">
                <td data-id="prj._id">{{ prj.name }}</td>
                
                <td *ngFor="let hour of prj.hours; let j = index; trackBy:trackByFn" [ngClass]="{'alert-primary': headers[j].is_weekend, 'alert-secondary': headers[j].is_festivity}">
                    <input
                        type="number"
                        step="0.5"
                        class="form-control"
                        [(ngModel)]="data[i].hours[j]"
                        (ngModelChange)="update_value()" />
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td>{{ 'timesheet.total' | translate }}</td>
                <td *ngFor="let tot_day of total; let j = index" [ngClass]="tot_day.class">{{tot_day.hour}}</td>
            </tr>
        </tfoot>

        
    </table>

</div>