<div class="">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav pull-right language-bar">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">
                    {{ 'home.home' | translate }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': translate.getDefaultLang() == 'en' }" href="javascript:void(0)" (click)="useLanguage('en')">
                    EN
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': translate.getDefaultLang() == 'it' }" href="javascript:void(0)" (click)="useLanguage('it')">
                    IT
                </a>
            </li>

            <li class="nav-item" *ngIf="authenticationService.currentUserValue">
                <a href="#" class="nav-link" (click)="logout()"> {{ 'home.logout' | translate }}</a>
            </li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>

<notifier-container></notifier-container>

<div class="footer">
    <div class="container">
        <div class="row" style="">
            <div class="col-md-6 col-xs-12">
                <span [innerHtml]="'home.footer' | translate"></span>
            </div>
            <div class="col-md-6  col-xs-12 pull-right text-right pull-right-no-mobile">
                <span [innerHtml]="'home.copy' | translate"></span>
                <span>&nbsp;<app-version></app-version></span>
            </div>
        </div>
    </div>
</div>
